body {
}
.cityEntryWrapper {
    margin: 0px auto;
    width: 800px;
    border: 1px solid gray;
}
.cityEntryContainer {
    margin: 0px auto;
    width: 796px;
    border: 1px solid green; 
    min-height: 470px;
}
.cityEntryHeaderText {
    font-size:25px;
    font-weight: bold;
    padding-top:10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: greenyellow;
}
.cityEntryContent {
    min-height:500px;
    font-weight: bold;
}
.nameEntryDiv {
    padding-top:5px;
    padding-bottom: 5px;
    height: 30px;
}
.nameText {
    float: left;
    padding-left: 5px;
    height: 20px;
}
.nameTextBoxDiv {
    float: left;
    padding-left: 110px;
    height: 20px;
}
.aboutEntryDiv {
    padding-top:5px;
    padding-bottom: 5px;
    height: 230px;
    margin-bottom: 5px;
}
.aboutText {
    float: left;
    padding-left: 5px;
    height: 20px;
}
.aboutTextBoxDiv {
    float: right;
    padding-left: 5px;
    height: 200px;
}
.nOfDwDiv {
    padding-top:5px;
    padding-bottom: 5px;
    height: 30px;
}
.numberOfDwlText {
    float: left;
    padding-right: 22px;
    height: 20px;
}
.numberOfDwlTextBox {
    float: left;
    padding-right: 5px;
    height: 20px;
}
.locationEntryDiv {
    padding-top:5px;
    padding-bottom: 5px;
    height: 30px;
}
.locationText {
    float: left;
    padding-right: 98px;
    height: 20px;
}
.locationTextBoxDiv {
    float: left;
    padding-right: 5px;
    height: 20px;
}
.weatherEntryDiv {
    padding-top:5px;
    padding-bottom: 5px;
    min-height: 80px;
}
.weatherText {
    float: left;
    padding-right: 98px;
    height: 20px;
}
.weatherTextBoxDiv {
    float: left;
    padding-right: 5px;
    height: 20px;
}
.countryEntryDiv {
    padding-top:5px;
    padding-bottom: 5px;
    height: 30px;
}
.countryText {
    float: left;
    padding-right: 98px;
    height: 20px;
}
.countryDropdown {
    float: left;
    padding-right: 5px;
    height: 20px;
}
.saveButtonDiv {
    padding-left: 162px;
    clear: both;
    width: 480px;
}
.gridViewDiv {
    margin: 0px auto;
    width: 795px;

    height: 300px;
    padding-top: 30px;
}
.cityEntryGridView th {
    border: 1px solid gray;
}
.cityEntryGridView td {
    border: 1px solid gray;
}